
%p
  会员姓名, 销售单号

%table#sample_editable_1.table.table-striped.table-hover.table-bordered
  %thead
    %tr
      %th 编码
      %th 名称
      %th 规格
      %th 生产商
      %th 单位
      %th 单价

  %tbody
    %tr.odd.gradeX
      %td WF00101091393
      %td 双黄连口服液
      %td 200ml
      %td 有限公司
      %td 瓶
      %td $35

%p
  记录数: 1 条, 总消费额: 3030.00 元
