!!!5
%html
  %body

    - data.sidebar.each do |header|
      %h1.uppercase #{header.name}
      %p
      - header.menus.each do |fun|
        / BEGIN EXAMPLE TABLE PORTLET
        .portlet.light.bordered
          .portlet-title
            .caption.font-dark
              %i.icon-settings.font-dark
              %span.caption-subject.bold.uppercase #{fun.name}
            .actions
              %button.btn.btn-circle.btn-default.btn-sm{:href => "javascript:;"}
                %i.fa.fa-plus
                增加
              %button.btn.btn-circle.red-sunglo.btn-sm{:href => "javascript:;"}
                %i.fa.fa-remove
                删除

          .portlet-body
            .table-toolbar

            %table#sample_editable_1.table.table-striped.table-hover.table-bordered
              %thead
                %tr
                  %th Name
                  %th URI
              %tbody
              - fun.menus.each do |menu|
                %tr.odd.gradeX
                  %th{:width => '200px'} #{menu.name}
                  %th ##{menu.uri}
