-#编辑处方类型
.form-body
  .row
    .col-md-6
      = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '所属类型', :maxlength => '32', :required => 'true'}

    .col-md-6
      = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '名称', :maxlength => '32'}

-# 门户组件
.portlet
  .portlet-title
    .caption
      %i.fa.fa-user
      处方模板
    .actions
      %a.btn.btn-circle.btn-default.btn-sm{:href => "javascript:;"}
        %i.fa.fa-plus
        选择药物

  .portlet-body.portlet-empty
    -#商品列表, 处方模板
    = partial 'views/commons/product_prescription'

