/ BEGIN PAGE BAR
.page-bar
  %ul.page-breadcrumb
    %li
      %a{:href => "index.html"} Home
      %i.fa.fa-circle
    %li
      %span Form Stuff
  .page-toolbar
    .btn-group.pull-right
      %button.btn.green.btn-sm.btn-outline.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
        Actions
        %i.fa.fa-angle-down
      %ul.dropdown-menu.pull-right{:role => "menu"}
        %li
          %a{:href => "#"}
            %i.icon-bell
            Action
        %li
          %a{:href => "#"}
            %i.icon-shield
            Another action
        %li
          %a{:href => "#"}
            %i.icon-user
            Something else here
        %li.divider
        %li
          %a{:href => "#"}
            %i.icon-bag
            Separated link
/ END PAGE BAR
/ BEGIN PAGE TITLE
%h3.page-title
  è§’è‰²ç®¡ç†
  %small bootstrap form controls and more
/ END PAGE TITLE

/ END PAGE HEADER
.row
  .col-md-6
    / BEGIN SAMPLE FORM PORTLET
    .portlet.light.bordered
      .portlet-title
        .caption.font-red-sunglo
          %i.icon-settings.font-red-sunglo
          %span.caption-subject.bold.uppercase Default Form
        .actions
          .btn-group
            %a.btn.btn-sm.green.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:;"}
              Actions
              %i.fa.fa-angle-down
            %ul.dropdown-menu.pull-right
              %li
                %a{:href => "javascript:;"}
                  %i.fa.fa-pencil
                  Edit
              %li
                %a{:href => "javascript:;"}
                  %i.fa.fa-trash-o
                  Delete
              %li
                %a{:href => "javascript:;"}
                  %i.fa.fa-ban
                  Ban
              %li.divider
              %li
                %a{:href => "javascript:;"} Make admin

      .portlet-body.form
        %form{:role => "form"}
          .form-body
            .form-group
              %label Email Address
              .input-group
                %span.input-group-addon
                  %i.fa.fa-envelope
                %input.form-control{:placeholder => "Email Address", :type => "text"}/
            .form-group
              %label Circle Input
              .input-group
                %span.input-group-addon.input-circle-left
                  %i.fa.fa-envelope
                %input.form-control.input-circle-right{:placeholder => "Email Address", :type => "text"}/
            .form-group
              %label{:for => "exampleInputPassword1"} Password
              .input-group
                %input#exampleInputPassword1.form-control{:placeholder => "Password", :type => "password"}/
                %span.input-group-addon
                  %i.fa.fa-user
            .form-group
              %label Left Icon
              .input-icon
                %i.fa.fa-bell-o
                %input.form-control{:placeholder => "Left icon", :type => "text"}/
            .form-group
              %label Left Icon(.input-sm)
              .input-icon.input-icon-sm
                %i.fa.fa-bell-o
                %input.form-control.input-sm{:placeholder => "Left icon", :type => "text"}/
            .form-group
              %label Left Icon(.input-lg)
              .input-icon.input-icon-lg
                %i.fa.fa-bell-o
                %input.form-control.input-lg{:placeholder => "Left icon", :type => "text"}/
            .form-group
              %label Right Icon
              .input-icon.right
                %i.fa.fa-microphone.fa-spin
                %input.form-control{:placeholder => "Right icon", :type => "text"}/
            .form-group
              %label Right Icon(.input-sm)
              .input-icon.input-icon-sm.right
                %i.fa.fa-bell-o
                %input.form-control.input-sm{:placeholder => "Left icon", :type => "text"}/
            .form-group
              %label Right Icon(.input-lg)
              .input-icon.input-icon-lg.right
                %i.fa.fa-bell-o
                %input.form-control.input-lg{:placeholder => "Left icon", :type => "text"}/
            .form-group
              %label Circle Input
              .input-icon.right
                %i.fa.fa-microphone
                %input.form-control.input-circle{:placeholder => "Right icon", :type => "text"}/
            .form-group
              %label Input with Icon
              .input-group.input-icon.right
                %span.input-group-addon
                  %i.fa.fa-envelope
                %i.fa.fa-exclamation.tooltips{"data-container" => "body", "data-original-title" => "Invalid email."}
                %input#email.input-error.form-control{:type => "text", :value => ""}/
            .form-group
              %label Input With Spinner
              %input.form-control.spinner{:placeholder => "Process something", :type => "text"}/
            .form-group
              %label Static Control
              %p.form-control-static email@example.com
            .form-group
              %label Disabled
              %input.form-control{:disabled => "disabled", :placeholder => "Disabled", :type => "text"}/
            .form-group
              %label Readonly
              %input.form-control{:placeholder => "Readonly", :readonly => "readonly", :type => "text"}/
            .form-group
              %label Dropdown
              %select.form-control
                %option Option 1
                %option Option 2
                %option Option 3
                %option Option 4
                %option Option 5
            .form-group
              %label Multiple Select
              %select.form-control{:multiple => "multiple"}
                %option Option 1
                %option Option 2
                %option Option 3
                %option Option 4
                %option Option 5
            .form-group
              %label Textarea
              %textarea.form-control{:rows => "3"}
            .form-group
              %label{:for => "exampleInputFile1"} File input
              %input#exampleInputFile1{:type => "file"}/
              %p.help-block some help text here.
            .form-group
              %label Checkboxes
              .checkbox-list
                %label
                  %input{:type => "checkbox"}/
                  Checkbox 1
                %label
                  %input{:type => "checkbox"}/
                  Checkbox 2
                %label
                  %input{:disabled => "disabled", :type => "checkbox"}/
                  Disabled
            .form-group
              %label Inline Checkboxes
              .checkbox-list
                %label.checkbox-inline
                  %input#inlineCheckbox1{:type => "checkbox", :value => "option1"}/
                  Checkbox 1
                %label.checkbox-inline
                  %input#inlineCheckbox2{:type => "checkbox", :value => "option2"}/
                  Checkbox 2
                %label.checkbox-inline
                  %input#inlineCheckbox3{:disabled => "disabled", :type => "checkbox", :value => "option3"}/
                  Disabled
            .form-group
              %label Radio
              .radio-list
                %label
                  %input#optionsRadios1{:checked => "checked", :name => "optionsRadios", :type => "radio", :value => "option1"}/
                  Option 1
                %label
                  %input#optionsRadios2{:name => "optionsRadios", :type => "radio", :value => "option2"}/
                  Option 2
                %label
                  %input#optionsRadios3{:disabled => "disabled", :name => "optionsRadios", :type => "radio", :value => "option3"}/
                  Disabled
            .form-group
              %label Inline Radio
              .radio-list
                %label.radio-inline
                  %input#optionsRadios4{:checked => "checked", :name => "optionsRadios", :type => "radio", :value => "option1"}/
                  Option 1
                %label.radio-inline
                  %input#optionsRadios5{:name => "optionsRadios", :type => "radio", :value => "option2"}/
                  Option 2
                %label.radio-inline
                  %input#optionsRadios6{:disabled => "disabled", :name => "optionsRadios", :type => "radio", :value => "option3"}/
                  Disabled
          .form-actions
            %button.btn.blue{:type => "submit"} Submit
            %button.btn.default{:type => "button"} Cancel
    / END SAMPLE FORM PORTLET
    / BEGIN SAMPLE FORM PORTLET
    .portlet.light.bordered
      .portlet-title
        .caption
          %i.icon-social-dribbble.font-blue-sharp
          %span.caption-subject.font-blue-sharp.bold.uppercase Input Height Sizing
        .actions
          %a.btn.btn-circle.btn-icon-only.btn-default{:href => "javascript:;"}
            %i.icon-cloud-upload
          %a.btn.btn-circle.btn-icon-only.btn-default{:href => "javascript:;"}
            %i.icon-wrench
          %a.btn.btn-circle.btn-icon-only.btn-default{:href => "javascript:;"}
            %i.icon-trash
      .portlet-body.form
        %form{:role => "form"}
          .form-body
            .form-group
              %label Large Input
              %input.form-control.input-lg{:placeholder => "input-lg", :type => "text"}/
            .form-group
              %label Large Input Group
              .input-group.input-group-lg
                %span#sizing-addon1.input-group-addon @
                %input.form-control{"aria-describedby" => "sizing-addon1", :placeholder => "Username", :type => "text"}/
            .form-group
              %label Large Input Default Group
              .input-group.input-group-lg
                %input.form-control{:placeholder => "Search for...", :type => "text"}/
                %span.input-group-btn
                  %button.btn.green{:type => "button"} Go!
              / /input-group
            .form-group
              %label Default Input
              %input.form-control{:placeholder => "", :type => "text"}/
            .form-group
              %label Default Input Group
              .input-group
                %input.form-control{"aria-describedby" => "sizing-addon1", :placeholder => "Username", :type => "text"}/
                %span#sizing-addon1.input-group-addon @
            .form-group
              %label Default Input Button Group
              .input-group
                %input.form-control{:placeholder => "Search for...", :type => "text"}/
                %span.input-group-btn
                  %button.btn.red{:type => "button"} Go!
              / /input-group
            .form-group
              %label Small Input
              %input.form-control.input-sm{:placeholder => "input-sm", :type => "text"}/
            .form-group
              %label Small Input Group
              .input-group.input-group-sm
                %span#sizing-addon1.input-group-addon @
                %input.form-control{"aria-describedby" => "sizing-addon1", :placeholder => "Username", :type => "text"}/
            .form-group
              %label Small Input Default Group
              .input-group.input-group-sm
                %input.form-control{:placeholder => "Search for...", :type => "text"}/
                %span.input-group-btn
                  %button.btn.green{:type => "button"} Go!
              / /input-group
            .form-group
              %label Large Select
              %select.form-control.input-lg
                %option Option 1
                %option Option 2
                %option Option 3
                %option Option 4
                %option Option 5
            .form-group
              %label Default Select
              %select.form-control
                %option Option 1
                %option Option 2
                %option Option 3
                %option Option 4
                %option Option 5
            .form-group
              %label Small Select
              %select.form-control.input-sm
                %option Option 1
                %option Option 2
                %option Option 3
                %option Option 4
                %option Option 5
          .form-actions.right
            %button.btn.default{:type => "button"} Cancel
            %button.btn.green{:type => "submit"} Submit