- page '宠物品种管理', 'varieties'

%form.form-horizontal{:role => "form"}
  .form-body
    .form-group
      %label.col-md-1.control-label 种类
      .col-md-3
        %input.form-control{:placeholder => "Enter text", :type => "text"}/

      %label.col-md-1.control-label 品种
      .col-md-3
        %input.form-control{:placeholder => "Right icon", :type => "text"}/
