- page '种类', 'varieties'
%form.form-horizontal{:role => "form"}
  .form-body
    .form-group
      %label.col-md-1.control-label 种类名称
      .col-md-3
        %input.form-control{:placeholder => "Enter text", :type => "text"}/

      %label.col-md-1.control-label 种类科属
      .col-md-3
        %select.form-control
          %option 犬科
          %option 猫科
          %option 其它
