.form-body
  .row
    .col-md-12
      = partial :'layouts/inputs/text', :locals => {:fieldName => '种类名称', :maxlength => '32', :required => "true"}

  .row
    .col-md-12
      %label.col-md-1.control-label 种类科属
      %select.form-control
        %option 犬科
        %option 猫科
        %option 其它