- page '经销商与生产商', 'dealer'

/ BEGIN SAMPLE FORM PORTLET
.portlet.light.bordered
  .portlet-title
    .caption
      %i.icon-settings.font-dark
      %span.caption-subject.font-dark.sbold.uppercase 会员信息

  .portlet-body.form
    %form.form-horizontal{:role => "form"}
      .form-body

        .form-group
          %label.col-md-1.control-label 会员编号
          .col-md-3
            %input.form-control{:placeholder => "Enter text", :type => "text"}/

          %label.col-md-1.control-label 登记日期
          .col-md-3
            .input-icon.right
              %i.fa.fa-calendar
              %input.form-control{:placeholder => "Right icon", :type => "text"}/

        .form-group
          %label.col-md-1.control-label 会员姓名
          .col-md-3
            %input.form-control{:placeholder => "Enter text", :type => "text"}/

          %label.col-md-1.control-label 会员性别
          .col-md-3
            .radio-list
              %label.radio-inline
                %input#optionsRadios25{:checked => "checked", :name => "optionsRadios", :type => "radio", :value => "option1"}/
                男
              %label.radio-inline
                %input#optionsRadios26{:checked => "checked", :name => "optionsRadios", :type => "radio", :value => "option2"}/
                女

        .form-group
          %label.col-md-1.control-label 出生日期
          .col-md-3
            .input-icon.right
              %i.fa.fa-calendar
              %input.form-control{:placeholder => "Right icon", :type => "text"}/

          %label.col-md-1.control-label 会员年龄
          .col-md-3
            %input.form-control{:placeholder => "Enter text", :type => "text"}/

        .form-group
          %label.col-md-1.control-label 会员电话
          .col-md-3
            %input.form-control{:placeholder => "Enter text", :type => "text"}/

          %label.col-md-1.control-label 固定电话
          .col-md-3
            %input.form-control{:placeholder => "Enter text", :type => "text"}/

        .form-group
          %label.col-md-1.control-label 联系邮箱
          .col-md-3
            %input.form-control{:placeholder => "Enter text", :type => "text"}/

          %label.col-md-1.control-label 联系地址
          .col-md-3
            %input.form-control{:placeholder => "Enter text", :type => "text"}/

        .form-group
          %label.col-md-1.control-label 会员等级
          .col-md-3
            %select.form-control
              %option 普通会员
              %option VIP会员

          %label.col-md-1.control-label 会员状态
          .col-md-3
            %select.form-control
              %option 正常
              %option 禁用

        .form-group
          %label.col-md-1.control-label 账户金额
          .col-md-3
            %input.form-control{:placeholder => "Enter text", :type => "text"}/

          %label.col-md-1.control-label  最后消息日期
          .col-md-3
            .input-icon.right
              %i.fa.fa-calendar
              %input.form-control{:placeholder => "Right icon", :type => "text"}/


        .form-group
          %label.col-md-1.control-label 备注
          .col-md-7
            %textarea.form-control{:placeholder => "Enter text", :type => "text"}
