/ BEGIN PAGE BAR
.page-bar
  %ul.page-breadcrumb
    %li
      %a{:href => "#/pet/list"} 会员挂号
      %i.fa.fa-circle
    %li
      %span 编辑
  .page-toolbar

/ END PAGE BAR
/ BEGIN PAGE TITLE
%h3.page-title
  会员挂号
  %small
/ END PAGE TITLE

/ END PAGE HEADER
.row
  .col-md-12
    / BEGIN SAMPLE FORM PORTLET
    .portlet.light.bordered
      .portlet-title
        .caption
          %i.icon-settings.font-dark
          %span.caption-subject.font-dark.sbold.uppercase 宠物信息

      .portlet-body.form
        %form.form-horizontal{:role => "form"}
          .form-body

            .form-group
              %label.col-md-1.control-label 会员姓名
              .col-md-3
                %input.form-control{:placeholder => "Enter text", :type => "text"}/

              %label.col-md-1.control-label 手机
              .col-md-3
                .input-icon.right
                  %i.fa.fa-calendar
                  %input.form-control{:placeholder => "Right icon", :type => "text"}/

            .form-group
              %label.col-md-1.control-label 宠物昵称
              .col-md-3
                %input.form-control{:placeholder => "Enter text", :type => "text"}/

              %label.col-md-1.control-label 性别
              .col-md-3
                .radio-list
                  %input#optionsRadios25{:checked => "checked", :name => "optionsRadios", :type => "text", :value => "option1"}

            .form-group
              %label.col-md-1.control-label 年龄
              .col-md-3
                %input.form-control{:placeholder => "Enter text", :type => "text"}/

              %label.col-md-1.control-label 体重
              .col-md-3
                .radio-list
                  %input#optionsRadios25{:checked => "checked", :name => "optionsRadios", :type => "text", :value => "option1"}


            .form-group
              %label.col-md-1.control-label 种类
              .col-md-3
                %input.form-control{:placeholder => "Enter text", :type => "text"}/

              %label.col-md-1.control-label 品种
              .col-md-3
                .radio-list
                  %input#optionsRadios25{:checked => "checked", :name => "optionsRadios", :type => "text", :value => "option1"}


            .form-group
              %label.col-md-1.control-label 绝育状态
              .col-md-3
                %input.form-control{:placeholder => "Enter text", :type => "text"}/

              %label.col-md-1.control-label 病例编号
              .col-md-3
                .radio-list
                  %input#optionsRadios25{:checked => "checked", :name => "optionsRadios", :type => "text", :value => "option1"}


/ END PAGE HEADER
.row
  .col-md-12
    / BEGIN SAMPLE FORM PORTLET
    .portlet.light.bordered
      .portlet-title
        .caption
          %i.icon-settings.font-dark
          %span.caption-subject.font-dark.sbold.uppercase 挂号信息

      .portlet-body.form
        %form.form-horizontal{:role => "form"}
          .form-body

            .form-group
              %label.col-md-1.control-label 挂号类型
              .col-md-3
                %select.form-control
                  %option 挂号服务

              %label.col-md-1.control-label 金额
              .col-md-3
                .input-icon.right
                  %i.fa.fa-calendar
                  %input.form-control{:placeholder => "Right icon", :type => "text"}/

            .form-group
              %label.col-md-1.control-label 业务员
              .col-md-3
                %select.form-control
                  %option 院长

              %label.col-md-1.control-label 医生
              .col-md-3
                %select.form-control
                  %option 院长

            .form-group
              %label.col-md-1.control-label 助理医生
              .col-md-3
                %select.form-control
                  %option

  .form-actions.text-center
    %button.btn.blue{:type => "submit"} 保存挂号
    %button.btn.blue{:type => "submit"} 挂号并付款
    %button.btn.default{:type => "button"} 取消挂号

  / END SAMPLE FORM PORTLET