- page '查看预约', 'bespeak'

%form.form-horizontal{:role => "form"}
  .form-body
    .form-group
      %label.col-md-1.control-label 员工
      .col-md-3
        %input.form-control{:placeholder => "Enter text", :type => "text"}/

      %label.col-md-1.control-label 员工手机号
      .col-md-3
        %input.form-control{:placeholder => "Enter text", :type => "text"}/

    .form-group
      %label.col-md-1.control-label 预约人
      .col-md-3
        %input.form-control{:placeholder => "Enter text", :type => "text"}/

      %label.col-md-1.control-label 预约人电话
      .col-md-3
        %input.form-control{:placeholder => "Enter text", :type => "text"}/

    .form-group
      %label.col-md-1.control-label 预约会诊日期
      .col-md-3
        %input.form-control{:placeholder => "Enter text", :type => "text"}/

      %label.col-md-1.control-label 登记日期
      .col-md-3
        %input.form-control{:placeholder => "Enter text", :type => "text"}/


    .form-group
      %label.col-md-1.control-label 宠物名称
      .col-md-3
        %input.form-control{:placeholder => "Enter text", :type => "text"}/

      %label.col-md-1.control-label 宠物年龄
      .col-md-3
        %input.form-control{:placeholder => "Enter text", :type => "text"}/

    .form-group
      %label.col-md-1.control-label 症状
      .col-md-7
        %textarea.form-control{:placeholder => "Enter text", :type => "text"}

    .form-group
      %label.col-md-1.control-label 期望的帮助
      .col-md-7
        %textarea.form-control{:placeholder => "Enter text", :type => "text"}


    .form-group
      %label.col-md-1.control-label 当前的状态
      .col-md-3
        %input.form-control{:placeholder => "Enter text", :type => "text"}/

      %label.col-md-1.control-label 操作人
      .col-md-3
        %input.form-control{:placeholder => "Enter text", :type => "text"}/


.form-actions.text-center
  %button.btn.default{:type => "button"} 关闭
