.input-group
  .input-group-btn
    %button.form-control.input-noborder-right.input-circle-left.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
      搜索
      %i.fa.fa-angle-down

    =yield_content :searchfields

  / /btn-group
  %input.form-control{:placeholder => "输入搜索内容...", :type => "text"}/

  .input-group-btn
    %button.form-control.input-noborder-vertical{:tabindex => "-1", :type => "button"}
      %i.fa.fa-calendar

  %input.form-control{:placeholder => "", :type => "text", "style"=>"display: table-cell;"}/

  .input-group-btn
    %button.form-control.input-noborder-vertical{:tabindex => "-1", :type => "button"}
      %i.fa.fa-calendar

  .input-group-btn
    %button.btn.green.input-circle-right
      %i.fa.fa-search