<!DOCTYPE html>
<html>
  <body>
    <div class='row'>
      <div class='col-md-3'>
        <!-- BEGIN EXAMPLE TABLE PORTLET -->
        <div class='portlet light bordered'>
          <div class='portlet-title'>
            <div class='caption font-dark'>
              <i class='icon-settings font-dark'></i>
              <span class='caption-subject bold uppercase'>种类</span>
            </div>
            <div class='actions'>
              <a class='btn btn-circle btn-default btn-sm' href='#/varieties/type'>
                <i class='fa fa-plus'></i>
                增加
              </a>
              <a class='btn btn-circle red-sunglo btn-sm' href=''>
                <i class='fa fa-remove'></i>
                删除
              </a>
            </div>
          </div>
          <div class='portlet-body'>
            <ul class='list-group'>
              <li class='list-group-item'>
                小型犬(犬科)
                <span class='badge badge-default'>3</span>
              </li>
              <li class='list-group-item'>
                中型犬(犬科)
                <span class='badge badge-success'>11</span>
              </li>
              <li class='list-group-item'>
                大型犬(犬科)
                <span class='badge badge-danger'>new</span>
              </li>
              <li class='list-group-item'>
                猫(猫科)
                <span class='badge badge-warning'>4</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class='col-md-9'>
        <!-- BEGIN EXAMPLE TABLE PORTLET -->
        <div class='portlet light bordered'>
          <div class='portlet-title'>
            <div class='caption font-dark'>
              <i class='icon-settings font-dark'></i>
              <span class='caption-subject bold uppercase'>宠物品种管理</span>
            </div>
            <div class='actions'>
              <a class='btn btn-circle btn-default btn-sm' href='javascript:;'>
                <i class='fa fa-search'></i>
                查询
              </a>
              <a class='btn btn-circle btn-default btn-sm' href='javascript:;'>
                <i class='fa fa-plus'></i>
                增加
              </a>
              <a class='btn btn-circle red-sunglo btn-sm' href='javascript:;'>
                <i class='fa fa-remove'></i>
                删除
              </a>
            </div>
          </div>
          <div class='portlet-body'>
            <div class='table-toolbar'>
              <div class='row'>
                <div class='col-md-12'>
                  <form class='form-inline' role='form'>
                    <div class='form-group'>
                      <label>品种名称</label>
                      <input class='form-control input-sm input-circle' id='exampleInputPassword2' placeholder='品种名称' type='text'>
                    </div>
                    <button class='btn btn-sm green table-group-action-submit' type='submit'>
                      <i class='fa fa-check'></i>
                      提交查询
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <table class='table table-striped table-bordered table-hover table-checkable order-column' id='sample_1'>
              <thead>
                <tr>
                  <th>
                    <input class='group-checkable' data-set='#sample_1 .checkboxes' type='checkbox'>
                  </th>
                  <th>操作</th>
                  <th>种类</th>
                  <th>品种</th>
                </tr>
              </thead>
              <tbody>
                <tr class='odd gradeX'>
                  <td>
                    <input class='checkboxes' type='checkbox' value='1'>
                  </td>
                  <td>
                    <a class='btn btn-outline btn-circle btn-sm purple' href='#/varieties/update/1'>
                      <i class='fa fa-edit'></i>
                      编辑
                    </a>
                    <a class='btn btn-outline btn-circle dark btn-sm black' href='#/varieties/remove/1'>
                      <i class='fa fa-trash-o'></i>
                      删除
                    </a>
                  </td>
                  <td>
                    <a href='mailto:shuxer@gmail.com'>小型犬</a>
                  </td>
                  <td>品种</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
