<!DOCTYPE html>
<html>
  <body>
    <!-- BEGIN PAGE BAR -->
    <div class='page-bar'>
      <ul class='page-breadcrumb'>
        <li>
          <a href='#/varieties/list'>种类</a>
          <i class='fa fa-circle'></i>
        </li>
        <li>
          <span>编辑</span>
        </li>
      </ul>
      <div class='page-toolbar'></div>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE -->
    <h3 class='page-title'>
      种类
      <small></small>
    </h3>
    <!-- END PAGE TITLE -->
    <!-- END PAGE HEADER -->
    <div class='row'>
      <div class='col-md-12'>
        <form class='form-horizontal' role='form'>
          <div class='form-body'>
            <div class='form-group'>
              <label class='col-md-1 control-label'>种类名称</label>
              <div class='col-md-3'>
                <input class='form-control' placeholder='Enter text' type='text'>
              </div>
              <label class='col-md-1 control-label'>种类科属</label>
              <div class='col-md-3'>
                <select class='form-control'>
                  <option>犬科</option>
                  <option>猫科</option>
                  <option>其它</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class='form-actions text-center'>
      <button class='btn blue' type='submit'>保存表单</button>
      <button class='btn default' type='button'>重置表单</button>
    </div>
  </body>
</html>
