<!DOCTYPE html>
<html>
  <body>
    <!-- BEGIN PAGE BAR -->
    <div class='page-bar'>
      <ul class='page-breadcrumb'>
        <li>
          <a href='#/pet/list'>宠物管理</a>
          <i class='fa fa-circle'></i>
        </li>
        <li>
          <span>编辑</span>
        </li>
      </ul>
      <div class='page-toolbar'></div>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE -->
    <h3 class='page-title'>
      宠物管理
      <small></small>
    </h3>
    <!-- END PAGE TITLE -->
    <!-- END PAGE HEADER -->
    <div class='row'>
      <div class='col-md-12'>
        <!-- BEGIN SAMPLE FORM PORTLET -->
        <div class='portlet light bordered'>
          <div class='portlet-title'>
            <div class='caption'>
              <i class='icon-settings font-dark'></i>
              <span class='caption-subject font-dark sbold uppercase'>会员信息</span>
            </div>
            <div class='actions'>
              <a class='btn btn-circle grey-salsa btn-sm' href='javascript:;'>
                <i class='fa fa-plus'></i>
                新增主人
              </a>
              <a class='btn btn-circle grey-salsa btn-sm' href='javascript:;'>
                <i class='fa fa-remove'></i>
                选择主人
              </a>
            </div>
          </div>
          <div class='portlet-body form'>
            <form class='form-horizontal' role='form'>
              <div class='form-body'>
                <div class='form-group'>
                  <label class='col-md-1 control-label'>会员编号</label>
                  <div class='col-md-3'>
                    <input class='form-control' placeholder='Enter text' type='text'>
                  </div>
                  <label class='col-md-1 control-label'>会员姓名</label>
                  <div class='col-md-3'>
                    <input class='form-control input-inline input-medium' placeholder='Enter text' type='text'>
                  </div>
                  <label class='col-md-1 control-label'>会员等级</label>
                  <div class='col-md-3'>
                    <input class='form-control input-inline input-medium' placeholder='Enter text' type='text'>
                  </div>
                </div>
                <div class='form-group'>
                  <label class='col-md-1 control-label'>会员性别</label>
                  <div class='col-md-3'>
                    <input class='form-control' placeholder='Enter text' type='text'>
                  </div>
                  <label class='col-md-1 control-label'>出生日期</label>
                  <div class='col-md-3'>
                    <input class='form-control input-inline input-medium' placeholder='Enter text' type='text'>
                  </div>
                  <label class='col-md-1 control-label'>会员年龄</label>
                  <div class='col-md-3'>
                    <input class='form-control input-inline input-medium' placeholder='Enter text' type='text'>
                  </div>
                </div>
                <div class='form-group'>
                  <label class='col-md-1 control-label'>会员电话</label>
                  <div class='col-md-3'>
                    <input class='form-control' placeholder='Enter text' type='text'>
                  </div>
                  <label class='col-md-1 control-label'>固定电话</label>
                  <div class='col-md-3'>
                    <input class='form-control input-inline input-medium' placeholder='Enter text' type='text'>
                  </div>
                  <label class='col-md-1 control-label'>账户金额</label>
                  <div class='col-md-3'>
                    <input class='form-control input-inline input-medium' placeholder='Enter text' type='text'>
                  </div>
                </div>
                <div class='form-group'>
                  <label class='col-md-1 control-label'>联系地址</label>
                  <div class='col-md-7'>
                    <input class='form-control' placeholder='Enter text' type='text'>
                  </div>
                  <label class='col-md-1 control-label'>登记日期</label>
                  <div class='col-md-3'>
                    <input class='form-control input-inline input-medium' placeholder='Enter text' type='text'>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- END SAMPLE FORM PORTLET -->
      </div>
      <!-- END PAGE HEADER -->
      <div class='row'></div>
      <div class='col-md-12'>
        <!-- BEGIN SAMPLE FORM PORTLET -->
        <div class='portlet light bordered'>
          <div class='portlet-title'>
            <div class='caption'>
              <i class='icon-settings font-dark'></i>
              <span class='caption-subject font-dark sbold uppercase'>宠物信息</span>
            </div>
          </div>
          <div class='portlet-body form'>
            <div class='tabbable-line'>
              <ul class='nav nav-tabs'>
                <li class='active'>
                  <a data-toggle='tab' href='#tab_15_1'>Section 1</a>
                </li>
                <li>
                  <a data-toggle='tab' href='#tab_15_2'>Section 2</a>
                </li>
                <li>
                  <a data-toggle='tab' href='#tab_15_3'>Section 3</a>
                </li>
              </ul>
              <div class='tab-content'>
                <div class='tab-pane active' id='tab_15_1'>
                  <p>I'm in Section 1.</p>
                  <p>
                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                    consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
                  </p>
                </div>
                <div class='tab-pane' id='tab_15_2'>
                  <p>Howdy, I'm in Section 2.</p>
                  <p>
                    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                    consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                  </p>
                  <p>
                    <a class='btn green' href='ui_tabs_accordions_navs.html#tab_15_2' target='_blank'>Activate this tab via URL</a>
                  </p>
                </div>
                <div class='tab-pane' id='tab_15_3'>
                  <p>Howdy, I'm in Section 3.</p>
                  <p>
                    Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
                    iriure dolor in hendrerit in vulputate velit esse molestie consequat
                  </p>
                  <p>
                    <a class='btn yellow' href='ui_tabs_accordions_navs.html#tab_15_3' target='_blank'>Activate this tab via URL</a>
                  </p>
                </div>
              </div>
            </div>
            <form class='form-horizontal' role='form'>
              <div class='form-body'>
                <div class='form-group'>
                  <label class='col-md-1 control-label'>编号(自动)</label>
                  <div class='col-md-3'>
                    <input class='form-control' placeholder='Enter text' type='text'>
                  </div>
                  <label class='col-md-1 control-label'>宠物昵称</label>
                  <div class='col-md-3'>
                    <input class='form-control input-inline input-medium' placeholder='Enter text' type='text'>
                  </div>
                  <label class='col-md-1 control-label'>宠物性别</label>
                  <div class='col-md-3'>
                    <input class='form-control input-inline input-medium' placeholder='Enter text' type='text'>
                  </div>
                </div>
                <div class='form-group'>
                  <label class='col-md-1 control-label'>出生日期</label>
                  <div class='col-md-3'>
                    <input class='form-control' placeholder='Enter text' type='text'>
                  </div>
                  <label class='col-md-1 control-label'>宠物年龄</label>
                  <div class='col-md-3'>
                    <input class='form-control input-inline input-medium' placeholder='Enter text' type='text'>
                  </div>
                  <label class='col-md-1 control-label'>绝育状态</label>
                  <div class='col-md-3'>
                    <input class='form-control input-inline input-medium' placeholder='Enter text' type='text'>
                  </div>
                </div>
                <div class='form-group'>
                  <label class='col-md-1 control-label'>宠物颜色</label>
                  <div class='col-md-3'>
                    <input class='form-control' placeholder='Enter text' type='text'>
                  </div>
                  <label class='col-md-1 control-label'>宠物种类</label>
                  <div class='col-md-3'>
                    <input class='form-control input-inline input-medium' placeholder='Enter text' type='text'>
                  </div>
                  <label class='col-md-1 control-label'>宠物品种</label>
                  <div class='col-md-3'>
                    <input class='form-control input-inline input-medium' placeholder='Enter text' type='text'>
                  </div>
                </div>
                <div class='form-group'>
                  <label class='col-md-1 control-label'>宠物状态</label>
                  <div class='col-md-3'>
                    <input class='form-control input-inline input-medium' placeholder='Enter text' type='text'>
                  </div>
                  <label class='col-md-1 control-label'>病例号</label>
                  <div class='col-md-7'>
                    <input class='form-control' placeholder='Enter text' type='text'>
                  </div>
                </div>
                <div class='form-group'>
                  <label class='col-md-1 control-label'>身高</label>
                  <div class='col-md-2'>
                    <input class='form-control' placeholder='Enter text' type='text'>
                  </div>
                  <label class='col-md-1 control-label'>体重</label>
                  <div class='col-md-2'>
                    <input class='form-control' placeholder='Enter text' type='text'>
                  </div>
                  <label class='col-md-1 control-label'>肩宽</label>
                  <div class='col-md-2'>
                    <input class='form-control' placeholder='Enter text' type='text'>
                  </div>
                  <label class='col-md-1 control-label'>体长</label>
                  <div class='col-md-2'>
                    <input class='form-control' placeholder='Enter text' type='text'>
                  </div>
                </div>
                <div class='form-group'>
                  <label class='col-md-1 control-label'>宠物牌号</label>
                  <div class='col-md-11'>
                    <input class='form-control' placeholder='Enter text' type='text'>
                  </div>
                </div>
                <div class='form-group'>
                  <label class='col-md-1 control-label'>备注</label>
                  <div class='col-md-11'>
                    <textarea class='form-control' placeholder='Enter text' type='text'></textarea>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class='form-actions text-center'>
      <button class='btn blue' type='submit'>保存表单</button>
      <button class='btn default' type='button'>重置表单</button>
      <!-- END SAMPLE FORM PORTLET -->
    </div>
  </body>
</html>
