= partial :'layouts/partials/filter' do
  %ul.dropdown-menu
    %li
      %a{:href => "javascript:;"} 编号
    %li
      %a{:href => "javascript:;"} 姓名
    %li.divider
    %li
      %a{:href => "javascript:;"} 电话